#doboz {
    /*background-color: rgba(255, 255, 255, 1);*/
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
    user-select: none;
}

body {
    /*background: linear-gradient(to bottom right, blue, cyan);*/

    background-image: url("../backgrounds/11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.email {
    /*
            background-color: rgb(50, 50, 50);
            border-color: white;
            */
    background: rgba(255, 255, 255, 0.075);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.email::placeholder {
    color: white;
}

.email:focus {
    /*
            background-color: rgb(50, 50, 50);
            box-shadow: none;
            border-color: white;
            */
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.jelszo {
    /*
            background-color: rgb(50, 50, 50);
            border-color: white;
            */
    background: rgba(255, 255, 255, 0.075);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.jelszo::placeholder {
    color: white;
}

.jelszo:focus {
    /*
            background-color: rgb(50, 50, 50);
            box-shadow: none;
            border-color: white;
            */
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

body {
    font-family: Verdana;
}

.btn-link {
    text-decoration: none;
}


.btn {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.red {
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: radial-gradient(black 1px, transparent 0);
    max-width: 450px;
}

.error-icon {
    fill: rgba(255, 0, 0, 0.6);
}


@media screen and (max-width: 842px) {
    #doboz {
        width: 420.58px;
    }
}

@media screen and (max-width: 450px) {
    #doboz {
        width: 90%;
    }
}