html,
body {
    height: 100%;
    width: 100%;
    user-select: none;
}

body {
    background-image: url("../backgounds/14.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#navbar {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#navbarMenu {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}