#doboz {
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: white;
}


span,
strong {
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    user-select: none;
}

body {
    background-image: url("../backgounds/14.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.card-item {
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: white;
}

/*
.card-header {
    background-color: black;
    color: white;
    border-bottom: 2px solid white;
}
*/

.btn {
    border: 1px solid black;
    box-shadow: 0 0 2px white;
    border-radius: 8px;
}

ul.list-group {
    max-height: 400px;
    overflow-y: auto;
}

