#doboz {
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: white;
}

#email {


    white-space: nowrap;
    /* ne törjön sort */
    overflow: hidden;
    /* vágja le */
}

.min-w-0 {
    min-width: 0 !important;
}

.info-pair {
    white-space: nowrap;
}

html,
body {
    height: 100%;
    width: 100%;
    user-select: none;
}

body {
    background-image: url("../backgrounds/14.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.list-group-item {
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: white;
}

.card-header {
    background: rgba(255, 255, 255, 0.075);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.btn-link {
    text-decoration: none;
}

.btn {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.btn.red {
    background: rgba(255, 50, 50, 0.2);
    border: 2px solid rgba(255, 50, 50, 0.2);
    box-shadow: 0 0 10px rgba(255, 50, 50, 0.1);
}

.btn.red:hover {
    background: rgba(255, 0, 0, 0.3);
    border: 2px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
}

.btn.green {
    background: rgba(50, 255, 50, 0.2);
    border: 2px solid rgba(50, 255, 50, 0.2);
    box-shadow: 0 0 10px rgba(50, 255, 50, 0.1);
}

.btn.green:hover {
    background: rgba(0, 255, 0, 0.3);
    border: 2px solid rgba(0, 255, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
}

/*
.card-header {
    background-color: black;
    color: white;
    border-bottom: 2px solid white;
}
*/

/*
.btn {
    border: 1px solid black;
    box-shadow: 0 0 2px white;
    border-radius: 8px;
}
*/

ul.list-group {
    max-height: 400px;
    overflow-y: auto;
}

