#doboz {
    /*background-color: rgba(255, 255, 255, 1);*/
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 450px;
}

html,
body {
    height: 100%;
    width: 100%;
    user-select: none;
}

body {
    /*background: linear-gradient(to bottom right, blue, cyan);*/

    background-image: url("7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Verdana;
}

#doboz {
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 842px) {
    #doboz {
        width: 420.58px;
    }
}

@media screen and (max-width: 450px) {
    #doboz {
        width: 90%;
    }
}